/* color presets */
:root {
    --carl-green: #87bb3f;
    --carl-blue: #0363a8;
}
@font-face {
    font-family: montserrat;
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: secular-one;
    src: url(../assets/fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: open-sans;
    src: url(../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: open-sans, sans-serif;
    min-height: 200vh;
    color: var(--carl-blue);
    background: #f4f1f6;
    cursor: default;
}

/* header */
header {
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 30px; */
    border-bottom: 3px solid var(--carl-blue);
    height: 100%;
    /* overflow: hidden; */
}
header nav .image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav .image-container img {
    height: 100%;
    object-fit: cover;
}
header nav .menu {
    height: 100%;
    background: var(--carl-green);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 30px; */
}
header nav .menu .menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
    width: 80px;
}
header nav .menu .menu-item:hover {
    background: var(--carl-blue);
}
@media (max-width: 900px){
    header {
        height: 70px;
    }
}
@media (max-width: 700px){
    header nav {
        position: relative;
        padding: 0 20px;
    }
    header nav .menu {
        position: absolute;
        right: 0;
        top: 100%;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        text-align: center;
        padding: 0;
        width: 100%;
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }
    header nav .menu.active {
        opacity: 1;
        pointer-events: all;
    }
    header nav .menu .menu-item {
        margin: 0;
        height: 45px;
        width: 100%;
    }
    header nav .menu-toggle {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        transition: 0.3s;
    }
    header nav .menu-toggle .bar {
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background: var(--carl-blue);
        display: block;
        border-radius: 5px;
        transition: 0.3s;
    }
    header nav .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    header nav .menu-toggle.active .bar:nth-child(1){
        transform: translateY(9px) rotate(45deg);
    }
    header nav .menu-toggle.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }
}

/* main */
section.hero {
    width: 100%;
    overflow: hidden;
    height: 500px;
    background: url(../assets/background-01.jpg);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
section.hero .container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: #00000040;
    align-items: center;
    justify-content: center;
}
section.hero .container .contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: #0363a840;
    backdrop-filter: blur(30px);
    margin: 10px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
section.hero .container .contact a:hover {
    background: #f4f1f640;
}
section.hero .container .contact a i {
    margin-right: 5px;
}
section.hero .container .contact {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h1.title {
    font-family: secular-one, sans-serif;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
}

section.products {
    background: #fff;
    padding: 20px;
}
section.products .card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}
section.products .card-section .card {
    width: 150px;
    text-align: center;
    margin: 10px;
}
section.products .card-section .card:hover .image-container img {
    scale: 1.1;
}
section.products .card-section .card .image-container {
    width: 100%;
    height: auto;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.products .card-section .card .image-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

section.about {
    background: var(--carl-green);
    color: #fff;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap-reverse;
}
section.about .container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
section.about .container a {
    color: inherit;
    margin-top: 10px;
}
section.about .image-container {
    width: 50%;
    max-width: 300px;
    border: 3px solid;
    height: 300px;
    margin: 10px;
    background: var(--carl-blue);
}
section.about .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

section.services {
    padding: 50px 0;
    background: #fff;
}
section.services .title {
    margin: 10px;
}
section.services .card-section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
section.services .card-section .card {
    width: 100%;
    max-width: 400px;
    min-height: 150px;
    background: #0363a840;
    backdrop-filter: blur(30px);
    border-radius: 9px;
    padding: 10px;
    margin: 10px 30px;
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
section.services .card-section .card:hover {
    scale: 1.1;
}
section.services .card-section .card .container {
    width: 100px;
    height: 90px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.services .card-section .card .container i {
    font-size: 4rem;
}
section.services .card-section .card .label {
    width: calc(100% - 120px);
    min-width: 150px;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
}

section.location {
    width: 100%;
    text-align: center;
}
section.location .container {
    height: 300px;
    width: 70%;
    max-width: 700px;
    margin: 20px auto;
    border: 3px solid;
}

/* google map iframe */
.mapouter{
    position:relative;
    text-align:right;
    height:100%;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

/* footer */
footer {
    background: #0363a8;
    color: var(--carl-green);
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 10px solid;
}
footer section {
    width: 100%;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    /* border: 2px solid; */
}
footer section ul li {
    list-style: none;
    text-transform: capitalize;
}
footer section a {
    color: inherit;
    text-decoration: none;
    margin: 4px;
}
footer section.section-3 a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer section a i {
    margin: 5px;
    font-size: 1.1rem;
}
footer .section-1 .image-container {
    width: 100px;
}
footer .section-1 .image-container img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}